--- 
author_profile: false
excerpt: "Human Computer Interaction"
feature_row: 
  - 
    btn_label: "Learn More"
    url: /news/
  - 
    btn_class: btn--primary
    btn_label: Apply
    excerpt: "Apply for admission of new students for the course starting in October 2020"
    title: "Placeholder 2"
    url: "https://hcimaster.upatras.gr/admissions-2020/admissions-2020-application/"
  - 
    alt: "poster HCI"
    image_path: /assets/images/HCIMASTERposter2020b.jpg
header: 
  caption: "Photo credit: [**Unsplash**](https://unsplash.com)"
  overlay_color: "#000"
  overlay_filter: "0.5"
  overlay_image: /assets/images/homepage.jpg
layout: splash
title: ~


{% include dynamic.html id="posts" category="Posts" index=0 %}

{% include feature_row %}
